
    <div class="container">
        <div class="row">

            <div class="col-md-6 offset-md-3" >
                <div class="container text-center">
                    <img src="../../../assets/examPortalLogo.png" alt="">
                </div>

                <div class="text-center">
                    <h2>Register Here!</h2>
                </div>
                <form [formGroup]="registerForm" (ngSubmit)="register()">
                    <!-- Username  -->
                    <div  class="form-outline mb-4">
                        <input type="text" id="form3Example1q" class="form-control"  formControlName="username" placeholder="Ente username" />
                    </div>
                    <!-- Pasword -->
                    <div  class="form-outline mb-4">
                        <input type="text" id="form3Example1q" class="form-control" formControlName="password" placeholder="Enter password" />
                    </div>
                    <!-- Firstname -->
                    <div  class="form-outline mb-4">
                        <input type="text" id="form3Example1q" class="form-control" formControlName="firstname" placeholder="Enter firstname" />
                    </div>
                    <!-- Latname -->
                    <div  class="form-outline mb-4">
                        <input type="text" id="form3Example1q" class="form-control" formControlName="lastname" placeholder="Enter lastname" />
                    </div>
                    <!-- Email -->
                    <div  class="form-outline mb-4">
                        <input type="text" id="form3Example1q" class="form-control" formControlName="email" placeholder="Enter Email" />
                    </div>
                    <!-- Contact -->
                    <div  class="form-outline mb-4">
                        <input type="text" id="form3Example1q" class="form-control" formControlName="contact" placeholder="Enter contact" />
                    </div>
                    <!-- Register and Clear button -->
                    <div class="text-center">
                            <button type="submit" class="btn btn-success btn mb-1 me-4" (click)="openPopup()">Register</button>

                            <div class="modal" [ngStyle]="{'display':displayStyle}">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Exam Portal</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>{{popupMessage}}</p>
    
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success btn-sm" (click)="closePopup()">
                                                Ok
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <button  class="btn btn-danger btn mb-1 me-4"
                            (click)="clearInput()">Clear</button>

                    </div>
                </form>
            </div>
        </div>
    </div>