<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">

            <div class="col-md-6 offset-md-3" >
                <div class="container text-center">
                    <img src="../../../assets/examPortalLogo.png" alt="">
                </div>

                <div class="text-center">
                    <h1>Register Here</h1>
                </div>
                <form [formGroup]="registerForm" (ngSubmit)="register()">
                    <!-- Username  -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="form3Example1q" class="form-control"  formControlName="username" placeholder="Ente username" />
                    </div>
                    <!-- Pasword -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="form3Example1q" class="form-control" formControlName="password" placeholder="Enter password" />
                    </div>
                    <!-- Firstname -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="form3Example1q" class="form-control" formControlName="firstname" placeholder="Enter firstname" />
                    </div>
                    <!-- Latname -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="form3Example1q" class="form-control" formControlName="lastname" placeholder="Enter lastname" />
                    </div>
                    <!-- Email -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="form3Example1q" class="form-control" formControlName="email" placeholder="Enter Email" />
                    </div>
                    <!-- Contact -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="form3Example1q" class="form-control" formControlName="contact" placeholder="Enter contact" />
                    </div>
                    <!-- Register and Clear button -->
                    <div class="text-center">
                        <button type="submit" data-mdb-button-init data-mdb-ripple-init
                            class="btn btn-success btn-lg mb-1 me-4">Register</button>

                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-danger btn-lg mb-1"
                            (click)="clearInput()">Clear</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>