
  h1{
    color:#fff;
  }
  .lead{
    color:#aaa;
  }
  
  .wrapper{margin:10vh}

  
  .card{
  
   min-height:350px;
  
   &:hover {
     .card-body{
       margin-top:10px;
     }
   cursor: pointer;
  }
   .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  background: linear-gradient(0deg, rgba(250, 248, 244, 0.379) 0%, rgb(251, 246, 236) 100%);
  }
  }

  
   
    
  