<div class="container-fluid">
      <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-6 mb-4">
                  <div class="card text-dark card-has-bg click-col">
                        <img class="card-img d-none">
                        <div class="card-img-overlay d-flex flex-column">
                              <div class="card-body">
                                    <h4 class="card-title mt-0 mb-4"><a class="text-dark">
                                               <h3 style="font-weight: bolder;">Categeory</h3>
                                          </a></h4>
                                    <ul class="list-group list-group-light">
                                          <li class="list-group-item px-3 border-0 rounded-3 mb-4" routerLink="/create-categeory">
                                                <h6>Add Categeory</h6>
                                          </li>
                                          <li
                                                class="list-group-item px-3 border-0 rounded-3 list-group-item-primary mb-4" routerLink="/all-categeory">
                                                <h6>List Categeory</h6></li>
                                    </ul>
                              </div>

                        </div>
                  </div>
            </div>
            <div class="col-sm-12 col-md-10 col-lg-6 mb-4">
                  <div class="card text-dark card-has-bg click-col">
                        <img class="card-img d-none">
                        <div class="card-img-overlay d-flex flex-column">
                              <div class="card-body">
                                    <h4 class="card-title mt-0 mb-4"><a class="text-dark">
                                               <h3 style="font-weight: bolder;">Quiz</h3>
                                          </a></h4>
                                    <ul class="list-group list-group-light">
                                          <li class="list-group-item px-3 border-0 rounded-3 mb-4" routerLink="/create-quiz">
                                                <h6>Add Quiz</h6>
                                          </li>
                                          <li
                                                class="list-group-item px-3 border-0 rounded-3 list-group-item-primary mb-4" routerLink="/all-quiz">
                                                <h6>List Quiz</h6></li>
                                    </ul>
                              </div>

                        </div>
                  </div>
            </div>
      </div>
      <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-6 mb-4">
                  <div class="card text-dark card-has-bg click-col">
                        <img class="card-img d-none">
                        <div class="card-img-overlay d-flex flex-column">
                              <div class="card-body">
                                    <small class="card-meta mb-2">Question</small>
                                    <h4 class="card-title mt-0 "><a class="text-dark">
                                                Question API
                                          </a></h4>
                              </div>

                        </div>
                  </div>
            </div>
            <div class="col-sm-12 col-md-10 col-lg-6 mb-4">
                  <div class="card text-dark card-has-bg click-col">
                        <img class="card-img d-none">
                        <div class="card-img-overlay d-flex flex-column">
                              <div class="card-body">
                                    <small class="card-meta mb-2">User</small>
                                    <h4 class="card-title mt-0 "><a class="text-dark">
                                                User API
                                          </a></h4>
                              </div>

                        </div>
                  </div>
            </div>
      </div>
</div>