<div class="container-fluid">
  <div class="offset-md-0">
  
    <div class="container text-center">
      <h1 >Welcome to <span>Exam Portal</span></h1>
      <p  >· An online examination system is the complete agenda of an online
        test that has multiple features and functionalities.
      </p>
      <div class="text-center" >
        <a href="/home" class="btn-get-started" >Get Started</a>
      </div>
    </div>
    <div class="hero">
      <div class="container ">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <h1 > <span></span></h1>
          <p  ><br></p>
          <div class="text-center" >
            <a ></a>
          </div>
        </div>
      </div>
      <div class="hero-bg">
        <img src="../../../assets/hero-services-img.webp" alt="">
      </div>

    </div>
  </div>
</div>