<div class="container-fluid">
    <div class="offset-md-0">
        <div  class="hero">
            <div class="hero-bg">
              <img src="../../../assets/hero-services-img.webp" alt="">
            </div>
            <div class="container ">
              <div class="d-flex flex-column justify-content-center align-items-center">
                <h1 data-aos="fade-up">Welcome to <span>Exam Portal</span></h1>
                <p data-aos="fade-up" data-aos-delay="100">· An online examination system is the complete agenda of an online test that has multiple features and functionalities.<br></p>
                <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                  <a href="/home" class="btn-get-started">Get Started</a>
                   </div>
               </div>
            </div>
          </div>
    </div>
</div>