
body,
html{
    width:auto;
    font-size: large;
}

.body{
    margin: 0;
}
.max-width{
    width: 100%;
}

.row.content {height: 1500px}
    

  
.row-12{
   font-size: large;
}
.nav{
   text-align: center;
   font-size: x-large;
  
}
 
  @media screen and (max-width: 767px) {
   .sidenav {
     height: auto;
     padding: 15px;
   }
   .row.content {height: auto;} 
 }

 

