<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="container text-center">
                <img src="../../../assets/examPortalLogo.png" alt="">
            </div>

            <div class="card-xl-9">
                <div class="card-title">
                    <div class="text-center">
                        <h4>Add Quiz!</h4>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="quizForm" (ngSubmit)="createQuiz()">

                        <div class="mb-4" style="border: none;">
                            <input type="text" class="form-control from-control-lg" formControlName="title" />
                            <label class="form-label" for="form2Example1">Quiz Title</label>
                        </div>
                        <div class="mb-4" style="border: none;">
                            <select type="text" class="form-select from-select-lg" formControlName="cid">
                                <option  *ngFor="let cat of categeories" selected value="{{cat.cid}}" >{{cat.name}}</option>
                             
                            </select>
                            <label class="form-label" for="form2Example1">Title</label>
                        </div>
                        <div class="mb-4" style="border: none;">
                            <select type="text" class="form-select from-select-lg" formControlName="noOfQuestion">
                                <option  selected value=10 >10</option>
                                <option value=15>15</option>
                                <option value=20>20</option>
                            </select>
                            <label class="form-label" for="form2Example1">No of Questions</label>
                        </div>
                        <div class="form-outline mb-4">
                            <textarea cols="50" rows="5" class="form-control from-control-lg"
                                formControlName="description"></textarea>
                            <label class="form-label" for="form2Example1">Categeory Description</label>
                        </div>
                        <div class="text-center  mb-4">
                            <!-- <button type="submit" class="btn btn-primary btn-block">Submit</button> -->
                            <button style="margin: 20px; padding: 10px" type="submit" class="btn btn-primary"
                                (click)="openPopup()">Submit
                            </button>
                            <button class="btn btn-danger" (click)="backToHome()">Cancel
                            </button>
                            <div class="modal" [ngStyle]="{'display':displayStyle}">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Exam Portal</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Quiz added Sucessfully!</p>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success btn-sm" (click)="closePopup()">
                                                Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>