<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">
        <div class="logo d-flex align-items-center me-auto">
            <img style="width: 65px; height: 60px;" src="../../../assets/examPortalLogo.png" alt="">
            <h4 class="sitename">ExamPortal</h4>
          </div>
    </a>

    <div class="collapse navbar-collapse" id="navbarText">
    </div>
    <span class="navbar-text">
        <div *ngIf="!isLoggedIn">
            <a href="/login">

                <h5>Login</h5>
            </a>
        </div>
        <div *ngIf="isLoggedIn">
            <div class="dropdown">
               <h5>{{username}}</h5>
                <div class="dropdown-content">
                <div class="btn btn-light btn-sm" >
                    <a href="/logout">Logout</a>
                </div>
                </div>
              </div>
        </div>
    </span>
</nav>